body {
    background-color: #cccccc;
    font-family: arial,helvetica,sans-serif;
}
.bookHeadline {
    font-size: 12pt;
    font-weight: bold;
}
.bookDescription {
    font-size: 10pt;
}
label {
    font-weight: bold;
}
.errorPage {
    text-align: center;
}
.oops{
    font-size: 10em;
}

.errorPage img{
    width: 30%;
    height: 10%;
}

